doctype html
html
    head
        meta(charset="utf-8")
        title SE2 Software Design and Architecture
        link(type='text/css', href='/static/css/normalize.css')
    body
        div You don't have permission to access this page.
            a(href='/logout') [logout]
