doctype html
html
    head
        meta(charset="utf-8")
        title SE2 Software Design and Architecture
        link(type='text/css', href='/static/css/normalize.css')
    body
        header
            h1 SE2 Software Design and Architecture
        main
            nav
                li
                    a(href='/') Home
                li
                    a(href='/deliverables') Deliverables
                li
                    a(href='/grades') Grades
        article
            block content
